.card-body {
    min-height: 450px;
    text-align: center;
    max-width: 600px;
    margin: auto auto auto auto;
    overflow: hidden;
    position: relative;
    transition: height 1s;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
}

.form-group {
    margin-bottom: 15px;
}

#logWrapper {
    min-height: 450px;
    max-width: 600px;
    margin: auto auto auto auto;
    overflow: hidden;
    position: relative;
    transition: height 1s;
    -moz-transition: height 1s;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
}

h1 {
    letter-spacing: -1px;
    color: #00A5D9;
    font-size: 35px;
    line-height: 45px;
    padding: 0;
    margin-bottom: 10px;
    font-weight: 400;
    font-family: "Roboto Condensed",sans-serif;
    margin-top: 20px;
    margin: .67em 0;
    box-sizing: border-box;
}